*{
    margin: 0px;
    padding: 0px;
    color:#D6B79B;
    font-family: Arial, Helvetica, sans-serif;
}
#page{
    width: 1000px;
    height: 1800px;
    margin-left: auto;
    margin-right: auto;
    
}

#logo{
    width: 250px;
    float: left;
    text-align: center;
}
#logo img{
    width: 150px;
    height: 150px;
}
#logo h1{
    font-size: 30px;
    letter-spacing: 5px;
    text-shadow: 2px 2px 3px;
    

}

header nav{
    float: right;
    width: 750px;
    margin-top: 145px;
}
nav ul{
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}
header nav li {
    float: left;
}
header nav a {
    display: block;
    width: 150px;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    border-right: 2px solid #D3B089;
    box-sizing: border-box;
}
header nav a:hover{
    color: #F4F1E3;
    background-color: #D3B089;
}

.clear{
    clear:both;
}

#slayt{
    height: 460px;
    border: 5px solid #D3B089;
    box-sizing: border-box;
    border-radius: 5px;
    background-image: url("images/banner.jpg");
    background-size: 1000px 460px;
    animation-name: slider;
    animation-duration: 10s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
}
@keyframes slider{
    0%{}
    33%{
        background-image: url("images/banner2.jpg");
    }
    66%{
        background-image: url("images/banner3.jpg");
    }
    100%{
        background-image: url("images/banner4.jpg");
    }
}

body{
    background-color: #341504;
}